<html>
    <head>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
        <title>Home Page</title>

        <style>
            @use "@material/button";

            .logout {
            --mdc-theme-primary: black;
            --mdc-theme-on-primary: white;
            }

            .cancel {
            --mdc-theme-primary: #FF0000;
            --mdc-theme-on-primary: white;

            @include button.ink-color(#84565E);
            }
            *{
                font-family: "Poppins";
            }
            body {
                display : flex;
                justify-content: center;
            }
            img {
                width : 100px;
                margin: 20px;
                padding : 5px;
                cursor: pointer;
            }
            img:hover{
                border: 1px solid gray;
                background-color: rgb(230, 219, 219);
            }
            
        </style>
    </head>
    <body>
        <div class="app w-full p-3">
        <form action="/logout/" method="POST">
            {% csrf_token %}
            <div class=" flex justify-end">
            <button class="mdc-button logout mdc-button--raised ">
                <span class="mdc-button__label">Log Out</span>
              </button>
            </div>
        </form>
        <form action="/cancel/" method="POST">
            {% csrf_token %}
            <div class=" flex justify-end">
                <button class="mdc-button cancel mdc-button--raised ">
                    <span id="cancel" class="mdc-button__label">Cancel Subscription</span>
                  </button>
                </div>
            </form>
            <form action="/" method="POST">
                {% csrf_token %}
            <div class=" flex justify-center items-center flex-col">
                <div class="flex flex-col">
                <button class="mdc-button mdc-button--raised w-40">
                    <span class="mdc-button__label">Search</span>
                  </button>
                <label class="mdc-text-field mdc-text-field--filled w-96 mt-2">
                    <span class="mdc-text-field__ripple"></span>
                    <span class="mdc-floating-label" id="my-label-id">Search</span>
                    <input class="mdc-text-field__input" type="search" aria-labelledby="my-label-id">
                    <span class="mdc-line-ripple"></span>
                  </label>
                </div>
            </div>
        </form> 
            <div class="flex items-center justify-center mt-10">
                {% load static %}
                <img id="xero" src="{% static 'images/xero.png' %}">
                <img id="cin7" src="{% static 'images/cin7.png' %}">
            </div>
            <div class="mt-10 flex justify-end">
                <button onclick="next()" class=" mdc-button mdc-button--raised mr-20">
                    <span class="mdc-button__label">Next</span>
                  </button>
            </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        <script>

            const MDCTextField = mdc.textField.MDCTextField;
            const textField = new MDCTextField(document.querySelector('.mdc-text-field'));
            const textFields = [].map.call(document.querySelectorAll('.mdc-text-field'), function(el) {
                return new MDCTextField(el);
                });
                var xero = false;
                var cin7 = false;

                
                document.getElementById("xero").addEventListener("click",function(){
                    if (cin7 == true){
                    document.getElementById("xero").style.backgroundColor = "rgb(230, 219, 219)"
                    document.getElementById("xero").style.border = "1px solid gray"
                    document.getElementById("cin7").style.backgroundColor = "white"
                    document.getElementById("cin7").style.border = "0px solid gray";
                    xero = true;
                    cin7 = false;
                    }
                    else{
                    document.getElementById("xero").style.backgroundColor = "rgb(230, 219, 219)"
                    document.getElementById("xero").style.border = "1px solid gray"
                    xero = true;
                    cin7 = false;
                    }

                })

                document.getElementById("cin7").addEventListener("click",function(){
                    if (xero == true){
                    document.getElementById("cin7").style.backgroundColor = "rgb(230, 219, 219)"
                    document.getElementById("cin7").style.border = "1px solid gray";
                    document.getElementById("xero").style.backgroundColor = "white"
                    document.getElementById("xero").style.border = "0px solid gray"
                    cin7 = true;
                    xero = false;
                    }
                    else {
                        document.getElementById("cin7").style.backgroundColor = "rgb(230, 219, 219)"
                    document.getElementById("cin7").style.border = "1px solid gray";
                    cin7 = true;
                    xero = false;
                    }
                })
                function next(){
                    if (!xero && !cin7){
                        Toastify({
                            text: "You Need to Select the Image",
                            duration: 3000,
                            destination: "https://github.com/apvarun/toastify-js",
                            newWindow: true,
                            close: true,
                            gravity: "top", // `top` or `bottom`
                            position: "top", // `left`, `center` or `right`
                            stopOnFocus: true, // Prevents dismissing of toast on hover
                            style: {
                                background: "linear-gradient(to right, #00b09b, #96c93d)",
                            },
                            }).showToast();
                            return false;
                    }
                    else if (xero){
                        window.location.replace("http://127.0.0.1:8000/xero/")
                    }
                    else if (cin7){
                        window.location.replace("http://127.0.0.1:8000/cin7/")
                    }
                }

                if (xero || cin7){
                    document.getElementById("cancel").innerText = "Cancel Selected";
                }
        </script>
    </body>
</html>